/* FileManagement.css */
@import url("https: //fonts.google.com/specimen/Fira+Sans");

.content-below-navbar {
  margin-top: 60px; /* Defina a margem superior igual à altura da barra de navegação */
}

.fm-container {
  font-family: "Fira Sans", sans-serif;
  color: #7a7676;
  background: #e5e5e5;
  min-height: 100vh;
  padding: 20px;
}

.fm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.fm-header-logo {
  width: 100px;
  /* Adjust based on your logo size */
}

.fm-header-title {
  font-size: 24px;
  color: #000;
}

.fm-main {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fm-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0f679a;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.fm-button-icon {
  margin-right: 10px;
}

.fm-button:hover {
  background-color: #0e5e89;
}

.fm-file-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fm-file-item {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.fm-file-item:hover {
  background-color: #f0f0f0;
  /* Slightly darker on hover */
}

.fm-file-name {
  flex-grow: 1;
}

.fm-action-icons {
  display: flex;
  align-items: center;
}

.fm-action-icon {
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.fm-action-icon:hover {
  opacity: 0.7;
}

/* Tooltip styles */
.fm-tooltip {
  position: relative;
  display: inline-block;
}

.fm-tooltip .fm-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.fm-tooltip:hover .fm-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Cor de fundo */
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-fechar:hover,
.modal-fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
