@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'DM Sans', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0F679A;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 380px;
    display: flex;
}

.login-form h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.login-acess {
    width: 50%;
}

.login-acess input {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000b4;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #7A7676;
}

.login-acess button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.login-acess button:hover {
    background-color: #0F679A;
}

.password-input {
    position: relative;
}

.password-input input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000b4;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #7A7676;
}

.password-input .toggle-password-button {
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input .toggle-password-button img {
    width: 20px;
    height: auto;
}

.login-remember {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.login-remember input {
    margin-top: 15px;
    width: 30px;
    color: #7A7676
}

.login-remember label {
    margin-top: 12px;
    width: 30px;
    color: #7A7676
}

.forgot-password {
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 15px;
    width: 100%;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-branding {
    display: block;
    justify-content: space-between;
    width: 50%;
    border-left: 1px solid #979797;
}

.login-branding .brand-logo {
    background-image: url('../assets/logos/logo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
    width: 100%;
    background-position: center;
    margin: 20px 10px 20px 10px;
}

.login-branding .brand-slogan {
    background-image: url('../assets/logos/frase.png');
    background-repeat: no-repeat;
    height: 190px;
    width: 100%;
    background-position: center;
    margin-left: 15px;
}

